####################################################################################################
#本文件设置大箱子文件排序规则。
#格式:
#   分类,品质,页码
#
#分类:itemtype.cfg中定义的分类
#品质:
#    0 all 所有（药品、卷轴等物品没有“品质”，直接填0即可）
#    1 damage 毁坏
#    2 normal 普通
#    3 supper 超级
#    4 blue   蓝色
#    5 green  绿色
#    6 yellow 黄色
#    7 Unique 暗金
#    8 orange 橙色
#
#例:
#辩视卷轴、城镇传送卷轴、辩视之书、城镇传送之书从第1页排放
#   scroll,0,1
#
#蓝色护身符从第2页排放
#   sc,4,2 #小护身符
#   lc,4,2 #大型护身符
#   gc,4,2 #超大型护身符
#
#暗金护身符从第3页排放
#   sc,7,3 #小护身符
#   lc,7,3 #大型护身符
#   gc,7,3 #超大型护身符
#
####################################################################################################

bakpath,C:\大箱子备份

#**********0-9页**********
#体力药剂、解毒剂、解冻剂等
potion,0,1
#治疗药剂
heal,0,1
#法力药剂
mana,0,1
#回复活力药剂（紫）
rejuv,0,1
#辩视卷轴、城镇传送卷轴、辩视之书、城镇传送之书
scroll,0,1
#任务物品
quest,0,1
#箭矢、十字弓弹、钥匙、耳朵
misc,0,1

#**********10-19页**********
#高级符文21-33,第10页
r3,0,10
#中级符文11-20,第11-12页
r2,0,11
#低级符文1-10,第13页
r1,0,13

#**********20-99页**********
#宝石
pg,0,20

#**********100-199**********
#暗金
#珠宝，项链，戒指100-109
gc,7,100 #超大型护身符
lc,7,100 #大型护身符
sc,7,100 #小护身符
jewel,7,100
amulet,7,100
ring,7,100
#头盔110-119
helm,7,110
#手套120-129
glove,7,120
#鞋130-139
boot,7,130
#腰带140-149
belt,7,140
#盾150-159
shield,7,150
#衣服160-169
armor,7,160
#武器170-199
weapon,7,170

#**********200-299**********
#绿色
#珠宝，项链，戒指200-209
amulet,5,200
ring,5,200
#头盔210-219
helm,5,210
#手套220-229
glove,5,220
#鞋230-239
boot,5,230
#腰带240-249
belt,5,240
#盾250-259
shield,5,250
#衣服260-269
armor,5,260
#武器270-299
weapon,5,250

#**********300-399**********
#黄色
#珠宝，项链，戒指300-309
jewel,6,300
amulet,6,300
ring,6,300
#头盔310-319
helm,6,310
#手套320-329
glove,6,320
#鞋330-339
boot,6,330
#腰带340-349
belt,6,340
#盾350-359
shield,6,350
#衣服360-369
armor,6,360
#武器370-399
weapon,6,370

#**********400-499**********
#蓝色,橙色
#珠宝，项链，戒指400-409
gc,4,400 #超大型护身符
gc,8,400 #超大型护身符
lc,4,400 #大型护身符
lc,8,400 #大型护身符
sc,4,400 #小护身符
sc,8,400 #小护身符
jewel,4,400
jewel,8,400
amulet,4,400
amulet,8,400
ring,4,400
ring,8,400
#头盔410-419
helm,4,410
helm,8,410
#手套420-429
glove,4,420
glove,8,420
#鞋430-439
boot,4,430
boot,8,430
#腰带440-449
belt,4,440
belt,8,440
#盾450-459
shield,4,450
shield,8,450
#衣服460-469
armor,4,460
armor,8,460
#武器470-499
weapon,4,470
weapon,8,470

#**********500-599**********
#底材
#武器500-509
weapon,2,500
weapon,3,500
#头盔510-519
helm,2,510
helm,3,510
#盾520-529
shield,2,520
shield,3,520
#衣服530-539
armor,2,530
armor,3,530


#小护身符、大护身符、超大大护身符
sc,1,1
lc,1,1
gc,1,1
sc,2,1
lc,2,1
gc,2,1
sc,3,1
lc,3,1
gc,3,1
sc,4,1
lc,4,1
gc,4,1
sc,5,1
lc,5,1
gc,5,1
sc,6,1
lc,6,1
gc,6,1
sc,7,1
lc,7,1
gc,7,1
sc,8,1
lc,8,1
gc,8,1

#珠宝
jewel,1,1
jewel,2,1
jewel,3,1
jewel,4,1
jewel,5,1
jewel,6,1
jewel,7,1
jewel,8,1

#项链
amulet,1,1
amulet,2,1
amulet,3,1
amulet,4,1
amulet,5,1
amulet,6,1
amulet,7,1
amulet,8,1

#戒指
ring,1,1
ring,2,1
ring,3,1
ring,4,1
ring,5,1
ring,6,1
ring,7,1
ring,8,1

#武器、防具
armor,1,1
armor,2,1
armor,3,1
armor,4,1
armor,5,1
armor,6,1
armor,7,1
armor,8,1

weapon,1,1
weapon,2,1
weapon,3,1
weapon,4,1
weapon,5,1
weapon,6,1
weapon,7,1
weapon,8,1
